<!-- ... existing content ... -->
<activity
    android:name=".WifiSelectionDialog"
    android:exported="false"
    android:theme="@style/Theme.AppCompat.Dialog"
    android:windowSoftInputMode="adjustPan">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>
<!-- ... existing content ... -->